<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>歪创科技</title>
		<link rel="stylesheet" type="text/css" href="css/conmm.css" />
		<link rel="stylesheet" type="text/css" href="css/businessIntro.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.vticker.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="header" class="scrolltop">
			<div class="header clearfix">
				<div class="logo"><img src="img/logo.jpg"></div>
				<ul class="nav clearfix">
					<li class="drop-menu-effect"><a href="" class="selected2"><span>首页</span></a></li>
					<li class="drop-menu-effect"><a href=""><span>服务<i class="arrow"></i></span></a>
						<ul class="submenu">
							<!--平台建设、软件开发、APP设计、全网营销-->
							<li><a href="#">平台建设</a></li>
							<li><a href="#">软件开发</a></li>
							<li><a href="#">APP设计</a></li>
							<li><a href="#">全网营销</a></li>
						</ul>
					</li>
					<li class="drop-menu-effect"><a href=""><span>资讯<i class="arrow"></i></span></a>
						<!--前沿、公告-->
						<ul class="submenu">
							<li><a href="#">前沿</a></li>
							<li><a href="#">公告</a></li>

						</ul>
					</li>
					<li class="drop-menu-effect"><a href=""><span>干货<i class="arrow"></i></span></a>
						<ul class="submenu">
							<li><a href="#">案例</a></li>
							<li><a href="#">合作</a></li>

						</ul>
					</li>
					<li class="drop-menu-effect"><a href=""><span>活动<i class="arrow"></i></span></a>
						<ul class="submenu">
							<li><a href="">直播</a></li>
							<li><a href="">公司企业文化讲解</a></li>
							<li><a href="">关注贫困儿童</a></li>
						</ul>
					</li>
					<li class="drop-menu-effect"><a href=""><span>直播<i class="arrow"></i></span></a>
						<ul class="submenu">
							<li><a href="">NBA直播</a></li>
							<li><a href="">足球联赛直播</a></li>
							<li><a href="">斯诺克直播</a></li>
						</ul>
					</li>
				</ul>
				<div class="phone">
					<p class="text">4008-821-628</p>
					<p>只做您想要的！</p>
				</div>
				<div class="sun"><img src="img/sun.png"></div>				
			</div>
			<div id="login_area">
				<ul class="header_unlogin clearfix">
				    <li class="header_signin">
				        <a href="javascript:void(0)" id="signin_btn">登录</a>
				    </li>
				    <li class="header_signup">
				        <a href="javascript:void(0)" id="signup_btn">注册</a>
				    </li>
				</ul>
	        </div>
			
		</div>
		<div></div>
	</body>

</html>