<div id="footer">
    <div class="footer clearfix">
        <div class="left">
            <p>
                <span class="contact-us hide">
                    联系电话：刘同学 13534231397<br />
                </span>
                <a href="javascript:void(0)" class="contacts">联系我们</a> <span></span>
                <a href="/business">伙伴加入 </a> <span></span>
                <a href="/business"> 管理团队</a> <span></span>
                <a href="/business">品牌合作</a>
            </p>
            <p>Copyright ©yycon.cn All Rights Reserved. </p>
        </div>
        <div class="center"><img src="img/f_logo.png"></div>
        <div class="right">
            <img src="img/code.jpg" alt="关注歪创科技微信公众号，抢第一手资料" title="关注微信公众号，抢第一手资料"/>
            <p class="img-code-desc">
                <strong>歪创科技</strong><br />技术领先<br />品质保证
            </p>
            <img class="url-img" src="img/web-url.png" alter="官网二维码" title="官网二维码"/>
        </div>
    </div>
</div>