<div id="header" class="scrolltop">
    <div class="header clearfix">
        <div class="logo"><img src="img/logo.jpg"></div>
        <ul class="nav clearfix">
            <li class="drop-menu-effect"><a href="/" class="selected2"><span>首页</span></a></li>
            <li class="drop-menu-effect"><a href="/service"><span>服务<i class="arrow"></i></span></a>
                <ul class="submenu">
                    <!--平台建设、软件开发、APP设计、全网营销-->
                    <li><a href="/servicepage?tag=platform" data-tag="platform">平台建设</a></li>
                    <li><a href="/servicepage?tag=software" data-tag="software">软件开发</a></li>
                    <li><a href="/servicepage?tag=appdesign" data-tag="appdesign">APP设计</a></li>
                    <li><a href="/servicepage?tag=webmarket" data-tag="webmarket">全网营销</a></li>
                </ul>
            </li>
            <li class="drop-menu-effect"><a href="/information"><span>资讯<i class="arrow"></i></span></a>
                <!--前沿、公告-->
                <ul class="submenu">
                    <li><a href="/informationpage?tag=front" data-tag="front">前沿</a></li>
                    <li><a href="/informationpage?tag=notice" data-tag="notice">公告</a></li>

                </ul>
            </li>
            <li class="drop-menu-effect"><a href="/drycargo"><span>干货<i class="arrow"></i></span></a>
                <ul class="submenu">
                    <li><a href="/drycargopage?tag=case" data-tag="case">案例</a></li>
                    <li><a href="/drycargopage?tag=cooperation" data-tag="cooperation">合作</a></li>

                </ul>
            </li>
            <li class="drop-menu-effect"><a href="javascript:void(0)"><span>活动<i class="arrow"></i></span></a>
                <!--<ul class="submenu">
                    <li><a href="">直播</a></li>
                    <li><a href="">公司企业文化讲解</a></li>
                    <li><a href="">关注贫困儿童</a></li>
                </ul>-->
            </li>
            <li class="drop-menu-effect"><a href="javascript:void(0)"><span>直播<i class="arrow"></i></span></a>
                <!--<ul class="submenu">
                    <li><a href="">NBA直播</a></li>
                    <li><a href="">足球联赛直播</a></li>
                    <li><a href="">斯诺克直播</a></li>
                </ul>-->
            </li>
        </ul>
        <div class="phone">
            <p class="text">13534231397</p>
            <p class="desc">只做您想要的！</p>
        </div>
        <div class="sun"><img src="img/sun.png"></div>
    </div>
    <!--<div id="login_area">
        <ul class="header_unlogin clearfix">
            <li class="header_signin">
                <a href="javascript:void(0)" id="signin_btn">登录</a>
            </li>
            <li class="header_signup">
                <a href="javascript:void(0)" id="signup_btn">注册</a>
            </li>
        </ul>
    </div>-->

</div>