<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>歪创科技</title>
		<link rel="stylesheet" type="text/css" href="css/conmm.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.vticker.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="header" class="scrolltop">
			<div class="header clearfix">
				<div class="logo"><img src="img/logo.jpg"></div>
				<ul class="nav clearfix">
					<li class="drop-menu-effect"><a href="" class="selected2"><span>首页</span></a></li>
					<li class="drop-menu-effect"><a href=""><span>服务<i class="arrow"></i></span></a>
						<ul class="submenu">
							<!--平台建设、软件开发、APP设计、全网营销-->
							<li><a href="#">平台建设</a></li>
							<li><a href="#">软件开发</a></li>
							<li><a href="#">APP设计</a></li>
							<li><a href="#">全网营销</a></li>
						</ul>
					</li>
					<li class="drop-menu-effect"><a href=""><span>资讯<i class="arrow"></i></span></a>
						<!--前沿、公告-->
						<ul class="submenu">
							<li><a href="#">前沿</a></li>
							<li><a href="#">公告</a></li>

						</ul>
					</li>
					<li class="drop-menu-effect"><a href=""><span>干货<i class="arrow"></i></span></a>
						<ul class="submenu">
							<li><a href="#">案例</a></li>
							<li><a href="#">合作</a></li>

						</ul>
					</li>
					<li class="drop-menu-effect"><a href=""><span>活动<i class="arrow"></i></span></a>
						<ul class="submenu">
							<li><a href="">直播</a></li>
							<li><a href="">公司企业文化讲解</a></li>
							<li><a href="">关注贫困儿童</a></li>
						</ul>
					</li>
				</ul>
				<div class="phone">
					<p class="text">4008-821-628</p>
					<p>只做您想要的！</p>
				</div>
				<div class="sun"><img src="img/sun.png"></div>				
			</div>
			<div id="login_area">
				<ul class="header_unlogin clearfix">
				    <li class="header_signin">
				        <a href="javascript:void(0)" id="signin_btn">登录</a>
				    </li>
				    <li class="header_signup">
				        <a href="javascript:void(0)" id="signup_btn">注册</a>
				    </li>
				</ul>
	        </div>
			
		</div>

		<!-- 轮播图  S  -->
		<div class="flexslider">
			<ul class="slides">
				<li style="background:url(img/banner.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
			</ul>
		</div>
		
		<!-- 轮播图  E  -->
		<div class="main_top clearfix">
			<div class="aboutus">
				<div class="title">公司简介</div>
				<div class="content">
					<div class="article">
						<p>7日，美国大选初选将迎来收官之战，票仓加利福尼亚会官之战，票仓加利福尼亚会压轴登场。</p>
						<p>目前，共和党方面选情明朗，特朗普作为唯一仍在初选的党内参选人，几乎笃定成为提名候选人。民主党方面，希拉里依然保持较大领先优势，民调也显示希拉里在收官之战中获胜几率较大。同时，桑德斯仍在最后一搏，且不能排除独立参选的可能性，那将造成鹬蚌相争特朗普得利的局面。</p>
						<p>那么，特朗普、希拉里、桑德斯，谁将在收官之战之后登上美国总统竞选的终极擂台，谁又最有可能成为白宫新主?</p>
					</div>
					<div class="more"><a href="">查看更多&gt;</a></div>
				</div>
			</div>
			<div class="news">
				<div class="title">最新资讯</div>
				<div class="content clearfix">
					<div class="list" id="scroller">
						<ul>
							<li>
								<div class="img">
									<a href=""><img src="img/news1.jpg"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>希拉里赢初选几无悬念 桑德斯或独立参选</h3>
										<p>那么，特朗普、希拉里、桑德斯，谁将在收官之战之后登上美国总统竞选的终极擂台，谁又最有可能成为白宫新主?</p>
										<div><span>2016-6-8</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/news1.jpg"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>希拉里赢初选几无悬念 桑德斯或独立参选</h3>
										<p>那么，特朗普、希拉里、桑德斯，谁将在收官之战之后登上美国总统竞选的终极擂台，谁又最有可能成为白宫新主?</p>
										<div><span>2016-6-8</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/news1.jpg"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>希拉里赢初选几无悬念 桑德斯或独立参选</h3>
										<p>那么，特朗普、希拉里、桑德斯，谁将在收官之战之后登上美国总统竞选的终极擂台，谁又最有可能成为白宫新主?</p>
										<div><span>2016-6-8</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/news1.jpg"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>希拉里赢初选几无悬念 桑德斯或独立参选</h3>
										<p>那么，特朗普、希拉里、桑德斯，谁将在收官之战之后登上美国总统竞选的终极擂台，谁又最有可能成为白宫新主?</p>
										<div><span>2016-6-8</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/news1.jpg"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>希拉里赢初选几无悬念 桑德斯或独立参选</h3>
										<p>那么，特朗普、希拉里、桑德斯，谁将在收官之战之后登上美国总统竞选的终极擂台，谁又最有可能成为白宫新主?</p>
										<div><span>2016-6-8</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/news1.jpg"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>希拉里赢初选几无悬念 桑德斯或独立参选</h3>
										<p>那么，特朗普、希拉里、桑德斯，谁将在收官之战之后登上美国总统竞选的终极擂台，谁又最有可能成为白宫新主?</p>
										<div><span>2016-6-8</span></div>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="main_bottom">
			<div class="title">
				<p><span>项目展示</span></p>
			</div>
			<div class="subtitle">眼见为实，我的做的每一份都有记录，让客户亲眼见证质量，不忘初心的企业理念</div>
			<div class="con">
				<ul class="clearfix">
					<li>
						<img src="img/product.jpg" />
						<div class="txt">
							<h3>IT培训</h3>
							<p>为您铺就成为IT大神的在线学习之路</p>
						</div>
					</li>
					<li>
						<img src="img/product.jpg" />
						<div class="txt">
							<h3>IT培训</h3>
							<p>为您铺就成为IT大神的在线学习之路</p>
						</div>
					</li>
					<li>
						<img src="img/product.jpg" />
						<div class="txt">
							<h3>IT培训</h3>
							<p>为您铺就成为IT大神的在线学习之路</p>
						</div>
					</li>
					<li>
						<img src="img/product.jpg" />
						<div class="txt">
							<h3>IT培训</h3>
							<p>为您铺就成为IT大神的在线学习之路</p>
						</div>
					</li>

				</ul>
			</div>
		</div>
		<div id="footer">
			<div class="footer clearfix">
				<div class="left">
					<p><a href="#">联系我们</a> <span></span> <a href="#">伙伴加入 </a> <span></span> <a href="#"> 管理团队</a> <span></span> <a href="#">品牌合作</a></p>
					<p>Copyright ©360.cn. All Rights Reserved. </p>
				</div>
				<div class="center"><img src="img/f_logo.png"></div>
				<div class="right">
					<img src="img/code.jpg" />
					<img src="img/code.jpg" />
				</div>
			</div>
		</div>

		<!-- 登录注册遮罩层 -->
		<div class='modal_backdrop hide_it'></div>
		<!-- 登录注册页 -->
		<div class='sign_in_up hide_it'></div>

	</body>
	<script src="js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/index/index.js" type="text/javascript" charset="utf-8"></script>

</html>