<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="深圳专业建站 网站建设 App开发 软件开发 深圳软件开发 全网营销"/>
		<title>歪创科技-专业的建站服务</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.vticker.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<% include header.ejs%>

		<!-- 轮播图  S  -->
		<div class="flexslider">
			<ul class="slides">
				<li style="background:url(img/banner.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner1.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner2.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner7.png) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner6.png) center 0 no-repeat;">
					<a href="#"></a>
				</li>
				<li style="background:url(img/banner5.jpg) center 0 no-repeat;">
					<a href="#"></a>
				</li>
			</ul>
		</div>
		
		<!-- 轮播图  E  -->
		<div class="main_top clearfix2">
			<div class="aboutus">
				<div class="title">公司简介</div>
				<div class="content">
					<div class="article">
						<p>深圳歪创网络科技有限公司，简称歪创科技(<a href="http://www.yycon.cn">www.yycon.cn</a>)，是国内极具创新的互联网综合运营服务提供商，歪创科技是致力于网络应用技术开发与服务、企业电子商务整体解决方案的高科技企业。经过长期的稳步发展，已成为华南地区网络应用技术服务的佼佼者，在业界拥有良好的口碑，公司致力于打造专业互联网营销服务商和分类信息服务平台，为竭力成为深圳乃至全国的品牌互联网公司而努力。</p>
						<p>服务范围：网络营销及企业信息化整体解决方案，包括：域名注册、虚拟主机、主机托管、网站建设、系统软件开发、网络网站维护、网站推广、网站优化、网络广告、电子商务咨询、服务器租用及托管服务等，区域范围涉及全国。</p>
						<p>合作伙伴：万网、长沙电信、深圳企业网、百度、众多金融企业等。</p>
					</div>
					<div class="more"><a class="more-bussiness-intro" href="/business">查看更多&gt;</a></div>
				</div>
			</div>
			<div class="news">
				<div class="title">最新资讯</div>
				<div class="content clearfix">
					<div class="list" id="scroller">
						<ul>
							<li>
								<div class="img">
									<a href=""><img src="img/eye3D.png"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>裸眼3D投影——距全息技术更进一步</h3>
										<p>这款投影仪的核心是液晶调节器的一对平面显示屏。以特定的角度利用光学原理形成3D影像，这种影像能随着观众观影角度的变化而变化。调节器以240次/秒的速度更新画面。</p>
										<div><span>2016-7-20</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/namixibao.png"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>能装进一个细胞中的纳米发动机</h3>
										<p>德克萨斯大学的Cockrell工程学院制作出了世界上体积最小、速度最快、运行时间最长的纳米发动机。</p>
										<div><span>2016-7-18</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/virtualGame.png"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>多人虚拟现实游戏——真正的身临其境</h3>
										<p>
											Zero Latency开发虚拟现实技术，可以将用户和肢体动作映射到游戏场景中，从而进行多人虚拟现实游戏。
										</p>
										<div><span>2016-7-8</span></div>
									</a>
								</div>
							</li>
							<li>
								<div class="img">
									<a href=""><img src="img/blood.png"></a>
								</div>
								<div class="listtit">
									<a href="">
										<h3>可环绕在血管周围的电路板</h3>
										<p>德克萨斯大学达拉斯分校的研究团队制作出了一种薄膜晶体管，它足够柔韧，可以环绕在神经元和血管周围。</p>
										<div><span>2016-6-18</span></div>
									</a>
								</div>
							</li>				
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="main_bottom">
			<div class="title">
				<p><span>项目展示</span></p>
			</div>
			<div class="subtitle">眼见为实，我们做的每一份都有记录，让客户亲眼见证质量，不忘初心的企业理念</div>
			<div class="con">
				<ul class="clearfix2">
					<li>
						<img src="img/pinghetangAPP.jpg" />
						<div class="txt">
							<h3>掌尚平和堂</h3>
							<p>只做您想要的</p>
						</div>
					</li>
					<li>
						<img src="img/wochuAPP.png" />
						<div class="txt">
							<h3>我厨App</h3>
							<p>只做您想要的</p>
						</div>
					</li>
					<li>
						<img src="img/yikaobangAPP.png" />
						<div class="txt">
							<h3>微课堂</h3>
							<p>只做您想要的</p>
						</div>
					</li>
					<li>
						<img src="img/zhitianguijinsuAPP.png" />
						<div class="txt">
							<h3>智天贵金属</h3>
							<p>只做您想要的</p>
						</div>
					</li>

				</ul>
			</div>
		</div>

		<% include footer.ejs%>

		<!-- 登录注册遮罩层 -->
		<div class='modal_backdrop hide_it'></div>
		<!-- 登录注册页 -->
		<div class='sign_in_up hide_it' id='sign_in_up'>
			<div class="sign_header">
				<h1>
					<span class="active sign-in">登陆</span>
					<span class="sign-up">注册</span>
					<span class="close-sign">X</span>
				</h1>
				<button class="rl_close"></button>
			</div>
			<div class="sign_body">
				<form class="sign_form">
					<p class="sign_error"></p>
					<input type="text" maxlength="37" placeholder="请输入登录邮箱/手机号" name="accout"/>
					<p class="sign_account_error">请输入正确的邮箱或手机号</p>
					<input type="password" maxlength="16" placeholder="6-16位密码，区分大小写，不能用空格" name="password"/>
					<p class="sign_password_error">请输入6-16位密码，区分大小写，不能使用空格！</p>
					<input type="button" value="登陆" hidefocus="true"/>
				</form>
			</div>
		</div>

		<div class="together">
			<div class="logo">
				<img src="img/logo.jpg">
			</div>
			<div class="together_bottom">
				<p>中国科学院合作伙伴单位</p>
				<p>中国信息产业集团合作伙伴</p>
			</div>

		</div>

	</body>
	<script src="js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/index/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/header/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/footer/index.js" type="text/javascript" charset="utf-8"></script>

</html>