<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="深圳专业建站 网站建设 App开发 软件开发 深圳软件开发 全网营销"/>
    <title>歪创科技-最具创造性稳定性的开发团队</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/businessIntro.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/information/index.js"></script>
</head>

<body>
<%include header.ejs%>

<div class="flexslider">
    <ul class="slides">

        <li style="background:url(img/sonpic.png) center 0 no-repeat;">
            <a href="#"></a>
        </li>

    </ul>
</div>


<div class="business-content clearfix2">
    <div class="left-content">
        <ul>
            <li class="business selected"  data-tag="front"><a href="javascript:void(0)">前沿</a></li>
            <li class="business " data-tag="notice"><a href="javascript:void(0)">公告</a></li>
        </ul>
    </div>
    <div class="right-content">
        <div class="info">
            <h2>互联网大数据支撑生态银行建设</h2>
            <p>在很多商业银行的绿色金融还停留在传统贴息贷款的模式之际，以互联网生态大数据为支撑的生态银行概念已经呼之欲出了，最为难得的是，新的理念摒弃了绿色金融只能依赖于公益发展的观点，强调了自然资源作为稀缺资本，应该建立在盈利基础上，兼顾长远发展的理念。
            </p>
            <p>“真正的绿色金融体系一旦成立起来，应该：第一，鼓励好的企业向更好的方向发展，企业要更具有社会责任，能够在环境等多个方面有所担当；第二，必须要对企业促进生态环境健康发展的行为进行量化和评估，借助自然资本和生态大数据，使企业自己的价值获得提升，也为股东也创造价值，同时为金融服务创造价值”，德稻集团董事局主席李卓智对《证券日报》记者独家表示，“以A股第一高价股贵州茅台为例，茅台酒并不是水加酒精，而是生态的产品，依赖好的自然资源产出的，所以它的市值中很大一部分(90%)来自于自然资本。”</p>
            <p>市场需要多维度估值</p>
            <p>自然资本比重高</p>
            <p>对于投资者而言，资本的强悍显然不言而喻，但自然资本对于他们中的绝大多数还是一个新鲜的词汇。《证券日报》记者近日在多方采访中了解到，除了传统意义上的财务报表，从非财务价值角度对于上市公司的估值也正受到越来越多的关注。</p>
            <p>美国哈佛商学院教授、价值总览报告的创始人Robert G.Eccles(艾博思)教授日前对贵州茅台集团进行了交流。在与《证券日报》记者分享调研心得时，艾博思教授表示，“一家上市公司有六大资本构成股东的价值，包括财务资本、制造资本、自然资本、社会关系资本、人力资本、知识资本。后四个属于非财务资本，是公司财务报表不能反映出来的。六大资本并非占比永远一致，其中的某一项可能对于上市公司估值的贡献非常高，以贵州茅台为例，自然资本就是其最重要的价值。”艾博思教授强调，对于农业相关的上市公司、矿业公司以及任何需要使用有限的自然资源的行业和公司来说，自然资本都是最为重要的指标之一。</p>
            <p>据介绍，目前南非的所有上市公司都必须强制性披露上述六大维度的信息，中国移动、宝钢、中石化等公司正在研讨通过价值总览报告中的上述六大维度对公司进行展示，有望成为该估值体系的样板企业。</p>
            <p>生态大数据先行</p>
            <p>生态银行落地可期</p>
            <p>作为此次生态文明贵阳国际论坛的亮点成果之一，此次分论坛期间还进行了全国首家生态文明大数据公司——贵州德稻生态文明大数据中心的揭牌仪式。</p>
            <p>在德稻集团董事局主席李卓智看来，生态银行像是经济结构转型的指挥棒，用钱去管钱，归根到底，是用市场的力量让绿色的企业更受尊敬，更能得到益处，更坚持绿色的道路，让不环保的企业慢慢出局。</p>
            <p>生态银行不是做慈善的银行，不能是一个金融行业的道德的制高点，它必须是一个可持续发展的商业行为。博鳌亚洲论坛原秘书长龙永图表示，“现在我们把保护环境从一个公益事业变成一个可持续的一个商业行为、金融行为，对我们整个社会的环境保护将有很大的提升，我们讨论依靠大数据建立更好的基础，使我们的生态银行能够盈利，建立在实实在在的经济数字的基础上，才是牢靠的，风险将会减小”。</p>
            <p>对于生态银行的落地而言，生态大数据的积累显然是必不可少的。在上周末召开的生态文明贵阳国际论坛上，全国首家生态文明大数据公司——贵州德稻生态文明大数据中心正式揭牌。</p>
            <p>据李卓智介绍，该大数据中心首先可以为个人服务，个人安居乐业都需要生态文明数据的支撑。而且，对个人服务的价格也将会很低廉的。</p>
            <p>第二，为企业服务。要真正把企业的价值找出来，不光是业绩价值，还有一个社会责任体系，并防范自然环境变化背后的业绩风险。</p>
            <p>第三，借助互联网，将自然资本的核算体系模型放到网络上，为各级政府提供方便，让各地政府自己核算本区域的自然资本价值，了解本区域的自然资源和生态系统的价值。</p>
            <p>第四，大数据还可以给有意推广绿色金融服务的金融机构提供数据，帮助他们筛查到有价值的企业，让金融机构来服务这些优质的、负责任的企业。</p>
            <p>在国资委商业科技质量中心研究员罗天昊看来，“有数据，无争议”。他认为，“借助大数据评估生态系统变化带来的商机与风险，可以形成绿色金融的基础。为个人、企业和当地政府提供投资、融资渠道，以及各种绿色金融产品组合形式，推动社会资本参与的自然资本投资模式。在企业、个人和政府间共同分担环境治理责任，是未来新经济的两大核心。”</p>　
            　　
        </div>

    </div>

</div>
<%include footer.ejs%>
</body>
<script src="js/header/index.js" type="text/javascript" charset="utf-8"></script>
<script src="js/footer/index.js" type="text/javascript" charset="utf-8"></script>

</html>