.business-content {
  /*display: flex;
  display: -webkit-flex;
  flex-direction: row;*/
  width: 90%;
  background-color: #eee;
  margin: 0 auto;
}
.left-content {
  /*flex: 1;
  -webkit-flex: 1;*/
  background-color: #fff;
  margin-left: 30px;
  margin-right: 10px;
  width: 15%;
  float: left;
}
.left-content ul {
  padding: 0 20px;
}
.left-content ul li {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #edf1f2;
  /* display: flex;
      display: -webkit-flex;
      justify-content: flex-start;
      align-items: center;*/
  position: relative;
}
.left-content ul li.selected a {
  color: #cc0000;
}
.left-content ul li.selected:before {
  content: '';
  display: block;
  width: 2px;
  background-color: #cc0000;
  position: absolute;
  top: 0;
  left: -20px;
  height: 60px;
}
.left-content ul li a {
  color: #787d82;
  font-size: 14px;
}
.left-content ul li a:hover {
  color: #000;
}
.right-content {
  /*flex: 4;
  -webkit-flex: 4;*/
  background-color: #fff;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  width: 80%;
  float: left;
}
.right-content .content-body {
  padding: 40px 50px;
}
.right-content .content-body p {
  padding: 10px 0px;
}
.right-content .info {
  padding: 30px;
}
.right-content .info p {
  line-height: 2;
}
.right-content p {
  text-indent: 24px;
  line-height: 20px;
  color: #646464;
  font-size: 16px;
}
.right-content h2 {
  text-align: center;
}
.right-content .platform {
  margin: 30px 30px;
}
.right-content .platform .zt_one {
  margin-bottom: 30px;
}
.right-content .platform .zt_one .zt_title {
  font-family: "Arial";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}
.right-content .platform .zt_one .zt_china {
  font-size: 21px;
  font-weight: 700px;
}
.right-content .platform .zt_one .zt_nei {
  font-size: 14px;
  color: #666;
  line-height: 28px;
  margin-top: 20px;
  text-indent: 0px;
}
.right-content .platform .n_p_30 {
  padding: 20px 0px;
  border-bottom: 5px #f2f2f2 solid;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.right-content .platform .n_p_30 .n_m_b_26 {
  margin-bottom: 26px;
  text-align: left;
}
.right-content .platform .n_p_30 .why_ul {
  width: 100%;
}
.right-content .platform .n_p_30 .why_ul.w_f_c2 {
  background: url(../img/w_pic2.jpg) right no-repeat;
}
.right-content .platform .n_p_30 .why_ul li {
  font-size: 15px;
  line-height: 40px;
  background: #1348ae;
  color: #fff;
  margin-bottom: 14px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  width: 350px;
}
.right-content .platform .n_p_30 .women_t {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -250px;
}
.right-content .platform .n_p_30 .women_l {
  width: 289px;
  position: absolute;
  top: 190px;
  left: 0px;
}
.right-content .platform .n_p_30 .women_r {
  width: 826px;
  position: absolute;
  top: 220px;
  left: 50%;
  height: 850px;
  margin-left: -413px;
}
.right-content .platform .n_p_30 .women_r .wo_dl {
  border-bottom: 1px dashed #ccc;
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.right-content .platform .n_p_30 .women_r .wo_dl dt {
  float: right;
}
.right-content .platform .n_p_30 .women_r .wo_dl dd {
  width: 490px;
  float: left;
}
.right-content .platform .n_p_30 .women_r .wo_dl dd h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  background: #1d5ec4;
  color: #fff;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  text-indent: 40px;
  margin-bottom: 20px;
}
.right-content .platform .n_p_30 .women_r .wo_dl dd p {
  font-size: 16px;
  line-height: 28px;
  color: #666;
  padding-left: 30px;
}
.right-content .guyuleft {
  width: 80%;
  margin: 20px auto;
}
.right-content .guyuleft h3 {
  font-size: 18px;
}
.right-content .guyuleft .text-primary {
  color: #428bca;
}
.right-content .guyuleft .page-header {
  height: 40px;
  line-height: 40px;
}
.right-content .guyuleft p {
  margin-bottom: 10px;
}
.right-content .guyuleft .font32 {
  font-size: 22px !important;
  line-height: 1.8;
}
.right-content .guyuleft .table-bordered {
  border: 1px solid #ddd;
}
.right-content .guyuleft .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 14px;
}
.right-content .guyuleft table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}
.right-content .guyuleft table tr td {
  font-size: 14px;
  color: #5D5D5D;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
  font-family: "Microsoft YaHei";
  text-align: center;
}
.right-content .guyuleft .marginTop15 {
  margin-top: 15px !important;
}
.right-content .guyuleft .marginTop15 .marginBot15 {
  margin-bottom: 15px!important;
}
.right-content .guyuleft .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.right-content .guyuleft .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.right-content .row {
  width: 80%;
  margin: 0 auto;
}
.right-content .row .solu_con {
  border-right: 1px solid #ccc;
  font-size: 14px;
  color: #666;
  line-height: 28px;
  padding-top: 30px;
  margin-bottom: 40px;
}
.right-content .row .solu_con h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.right-content .row .solu_con p {
  font-size: 14px;
  color: #666;
  line-height: 28px;
  text-indent: 0px;
}
.right-content .row .solu_con .so_dl {
  padding: 20px 0px;
}
.right-content .row .solu_con .row2 {
  margin-right: -15px;
  margin-left: -15px;
  border-top: 1px dashed #000;
}
.right-content .row .solu_con .row2 .col-lg-1,
.right-content .row .solu_con .row2 .col-lg-2,
.right-content .row .solu_con .row2 .col-lg-3,
.right-content .row .solu_con .row2 .col-lg-4,
.right-content .row .solu_con .row2 .col-lg-5,
.right-content .row .solu_con .row2 .col-lg-6,
.right-content .row .solu_con .row2 .col-lg-7,
.right-content .row .solu_con .row2 .col-lg-8,
.right-content .row .solu_con .row2 .col-lg-9,
.right-content .row .solu_con .row2 .col-lg-10,
.right-content .row .solu_con .row2 .col-lg-11,
.right-content .row .solu_con .row2 .col-lg-12 {
  float: left;
}
.right-content .row .solu_con .row2 .word-desc {
  width: 65%;
  padding-right: 3px;
}
.right-content .row .solu_con .row2:last-of-type {
  border-bottom: 1px dashed #000;
}
.right-content .row .solu_con .row2:after {
  display: block;
  content: '';
  clear: both;
}
.right-content .ul-t {
  width: 80%;
  margin: 0 auto;
}
.right-content .ul-t ul li {
  list-style-type: none;
  position: relative;
  height: 100%;
  border-bottom: 1px dashed #000;
}
.right-content .ul-t ul li .li-top {
  padding: 25px 0 0 0;
  text-align: center;
}
.right-content .ul-t ul li .li-top h5 {
  color: #666;
  font-size: 24px;
  line-height: 38px;
  position: relative;
  z-index: 2;
}
.right-content .ul-t ul li .li-top p {
  color: #999;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
}
.right-content .ul-t ul li .li-top .li-a {
  position: relative;
  z-index: 2;
}
.right-content .ul-t ul li .li-top .li-a a {
  color: #7cb342;
  font-size: 14px;
  margin-right: 50px;
  cursor: default;
  line-height: 25px;
}
.flexslider {
  height: 420px!important;
  margin-bottom: 20px;
}
.flexslider .slides li {
  height: 420px!important;
}
