<div class="main_bottom cooperation">
    <div class="title">
        <p><span>合作伙伴</span></p>
    </div>
    <div class="subtitle">我们诚邀您，如他们一样，体验科匠中国的科技创新成果，感受移动互联魅力。</div>
    <div class="con">
        <ul class="clearfix2">
            <li>
                <img src="img/pinghetangAPP.jpg" />
                <div class="txt">
                    <h3>案例1</h3>
                    <p>只做您想要的</p>
                </div>
            </li>
            <li>
                <img src="img/wochuAPP.png" />
                <div class="txt">
                    <h3>案例2</h3>
                    <p>只做您想要的</p>
                </div>
            </li>
            <li>
                <img src="img/yikaobangAPP.png" />
                <div class="txt">
                    <h3>案例3</h3>
                    <p>只做您想要的</p>
                </div>
            </li>
            <li>
                <img src="img/zhitianguijinsuAPP.png" />
                <div class="txt">
                    <h3>案例4</h3>
                    <p>只做您想要的</p>
                </div>
            </li>
            <li>
                <img src="img/548343850.jpg" />
                <div class="txt">
                    <h3>案例5</h3>
                    <p>只做您想要的</p>
                </div>
            </li>
            <li>
                <img src="img/901980792.jpg" />
                <div class="txt">
                    <h3>案例6</h3>
                    <p>只做您想要的</p>
                </div>
            </li>
            <li>
                <img src="img/1159633737.jpg" />
                <div class="txt">
                    <h3>案例7</h3>
                    <p>只做您想要的</p>
                </div>
            </li>
            <li>
                <img src="img/1648526629.jpg" />
                <div class="txt">
                    <h3>案例8</h3>
                    <p>只做您想要的</p>
                </div>
            </li>

        </ul>
    </div>
</div>