<div class="main_bottom cooperation">
    <div class="title">
        <p><span>合作伙伴</span></p>
    </div>
    <div class="subtitle">我们诚邀您，如他们一样，体验歪创的科技创新成果，感受移动互联魅力。</div>
    <div class="con">
        <ul class="clearfix2">
            <li>
                <img src="img/changshadianxin.png" />
                <div class="txt">
                    <h3>长沙电信</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src="img/hedanyiyao.png" />
                <div class="txt">
                    <h3>合丹医药</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src="img/jujiawuyou.png" />
                <div class="txt">
                    <h3>居家无忧</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src="img/kong.png" />
                <div class="txt">
                    <h3>滨州税务</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src="img/shenzhendaxue.png" />
                <div class="txt">
                    <h3>深圳大学</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src="img/taikangrenshou.png" />
                <div class="txt">
                    <h3>泰康人寿</h3>
                    <p></p>
                </div>
            </li>
            <li>
                <img src="img/wanwang.png" />
                <div class="txt">
                    <h3>中国万网</h3>
                    <p></p>
                </div>
            </li>

        </ul>
    </div>
</div>