.business-content{
  /*display: flex;
  display: -webkit-flex;
  flex-direction: row;*/
  width: 90%;
  background-color: #eee;
  margin: 0 auto;
}
.left-content{
  /*flex: 1;
  -webkit-flex: 1;*/
  background-color: #fff;
  margin-left: 30px;
  margin-right: 10px;
  width: 15%;
  float: left;
  ul{
    padding: 0 20px;
    li{
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid #edf1f2;
     /* display: flex;
      display: -webkit-flex;
      justify-content: flex-start;
      align-items: center;*/
      position: relative;
      &.selected{
        a{
          color: #cc0000;
        }
      }
      &.selected:before{
        content: '';
        display: block;
        width: 2px;
        background-color: #cc0000;
        position: absolute;
        top: 0;
        left: -20px;
        height: 60px;
      }
      a{
        color: #787d82;
        font-size: 14px;
      }
      a:hover{
        color: #000;
      }
    }
  }
}
.right-content{
  /*flex: 4;
  -webkit-flex: 4;*/
  background-color: #fff;
  //padding: 30px 100px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  width: 80%;
  float: left;
  .content-body{
      padding: 40px 50px;
      p{
        padding: 10px 0px;
      }
  }
  .info{
    padding: 30px;
    p{
      line-height: 2;
    }
  }
  p{
    text-indent: 24px;
    line-height: 20px;
    color: #646464;
    font-size: 16px;
  }
  h2{
    text-align: center;
  }
  .platform{
    margin: 30px 30px;
    .zt_one{
      .zt_title{
        font-family: "Arial";
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
      }
      .zt_china {
        font-size: 21px;
        font-weight: 700px;
      }
      .zt_nei {
        font-size: 14px;
        color: #666;
        line-height: 28px;
        margin-top: 20px;
        text-indent: 0px;       
      }
      margin-bottom: 30px;
    }
    .n_p_30{
      padding: 20px 0px;
      border-bottom: 5px #f2f2f2 solid;
      overflow: hidden;
      position: relative;
      width: 100%;
      .n_m_b_26 {
        margin-bottom: 26px;
        text-align: left;
      }
      .why_ul {
        width: 100%;
        &.w_f_c2{
          background: url(../img/w_pic2.jpg) right no-repeat;
        }
        li{
          font-size: 15px;
          line-height: 40px;
          background: #1348ae;
          color: #fff;
          margin-bottom: 14px;
          -moz-border-radius: 25px;
          -webkit-border-radius: 25px;
          border-radius: 25px;
          //text-indent: 40px;
          width: 350px;
        }
      }
      .women_t {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -250px;
      }
      .women_l {
        width: 289px;
        position: absolute;
        top: 190px;
        left: 0px;
      }
      .women_r {
        width: 826px;
        position: absolute;
        top: 220px;
        left: 50%;
        height: 850px;
        margin-left: -413px;       
        .wo_dl {
          border-bottom: 1px dashed #ccc;
          overflow: hidden;
          padding-bottom: 15px;
          margin-bottom: 15px;
          dt {
            float: right;
          }
          dd {
            width: 490px;
            float: left;
            h2{
              font-size: 16px;
              font-weight: 700;
              line-height: 40px;
              background: #1d5ec4;
              color: #fff;
              -moz-border-radius: 25px;
              -webkit-border-radius: 25px;
              border-radius: 25px;
              text-indent: 40px;
              margin-bottom: 20px;
            }
            p{
              font-size: 16px;
              line-height: 28px;
              color: #666;
              padding-left: 30px;
            }
          }
        }
      }

    }
  }
  .guyuleft{
    width: 80%;
    margin: 20px auto;
    h3{
      font-size: 18px;
    }
    .text-primary {
      color: #428bca;
    }
    .page-header{
      height: 40px;
      line-height: 40px;
    }
    p{
      margin-bottom: 10px;
    }
    .font32 {
      font-size: 22px !important;
      line-height: 1.8;
    }
    .table-bordered {
      border: 1px solid #ddd;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        background-color: transparent;
        font-size: 14px;
        
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        tr{
          td{
            font-size: 14px;
            color: #5D5D5D;
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border: 1px solid #ddd;
            //border-top: 1px solid #ddd;
            font-family: "Microsoft YaHei";
            text-align: center;
          }
        }
    }
    .marginTop15 {
        margin-top: 15px !important;
        .marginBot15 {
            margin-bottom: 15px!important;
        }
    }
    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

  }
  .row{
    width: 80%;
    margin: 0 auto;
    
    .solu_con {
      border-right: 1px solid #ccc;
      font-size: 14px;
      color: #666;
      line-height: 28px;
      padding-top: 30px;
      margin-bottom: 40px;
      h1{
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
      }
      p{
        font-size: 14px;
        color: #666;
        line-height: 28px;
        text-indent: 0px;
      }
      .so_dl {
          padding: 20px 0px;
      }
      .row2 {
          margin-right: -15px;
          margin-left: -15px;
          border-top: 1px dashed #000;
          .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
            float: left;
          }
          .word-desc{
            width: 65%;
            padding-right: 3px;
          }
      }
      .row2:last-of-type{
          border-bottom: 1px dashed #000;
      }
      .row2:after{
        display: block;
        content: '';
        clear: both;
      }

    }
  }
  .ul-t{
    width: 80%;
    margin: 0 auto;
    ul{
      li{
        list-style-type: none;
        position: relative;
        height: 100%;
        border-bottom: 1px dashed #000;
        .li-top {
            padding: 25px 0 0 0;
            text-align: center;
            h5{
              color: #666;
              font-size: 24px;
              line-height: 38px;
              position: relative;
              z-index: 2;
            }
            p{
              color: #999;
              font-size: 14px;
              line-height: 22px;
              margin-bottom: 5px;
              position: relative;
              z-index: 2;
            }
            .li-a{
              position: relative;
              z-index: 2;
              a{
                color: #7cb342;
                font-size: 14px;
                margin-right: 50px;
                cursor: default;
                line-height: 25px;
              }
            }
        }
        
      }
    }
  }
}

.flexslider{
    height: 420px!important;
    margin-bottom: 20px;
    .slides{
      li{
        height: 420px!important;
      }
    }
}
