.right-content{
  .main_bottom{
    width: auto!important;
    padding-top: 36px!important;
    .title{
      p{
        span{
          padding-right: 20px;
          width: 130px;
        }
      }
    }
    .title:before{
      width: auto!important;
    }
    .title:after{
      width: auto!important;
    }
    .clearfix2 {
      zoom: 1;
      /*display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;*/
      .txt{
        p{
          color: #fff;
        }
      }
    }
    .clearfix2:after{
      display: block;
      content: '';
      clear: both;
    }
  }
  .cooperation{
    .con{
      ul{
        li{
          width: auto;
          height: auto;
          img{
            width: 145px;
            height: 207px;
          }
        }
      }
    }
  }
}

.con_drycargo{
      margin: 5px 55px!important;
      ul.clearfix2 {
        margin: 5px 10%!important;
      }
}
ul.con_case{

    text-align: center!important;
    li{
      float: none!important;
      display: inline-block!important;
    }

}